<div class="all">
  <ion-card>
   <div class="perfil">
      <div class="izqPerf">
       <ion-img [src]=image></ion-img>
      </div>
      <div class="derPerf">
       <div class="derUp">
         <ion-label>{{userName}}</ion-label>
       </div>
       <div class="derDown">
         <ion-label>{{description}}</ion-label>
       </div>
      </div>
   </div>
  </ion-card>
 
 
 
  <ion-card>
   <div class="perfil">
     <div class="izqPerf">
      <ion-img [src]=image></ion-img>
     </div>
     <div class="derPerf">
      <div class="derUp">
        <ion-label>{{userName}}</ion-label>
      </div>
      <div class="derDown">
        <ion-label>{{description}}</ion-label>
      </div>
     </div>
  </div>
  </ion-card>
 </div>