.all{
    height: 100%;
    width: 100%;
    
  }
  .perfil{
    height: 12rem;
    width: 100%;
    
    display: flex;
  }
  .izqPerf{
    height: 100%;
    width: 20rem;
    
  }
  .derPerf{
    height: 100%;
    width: 55%;
    
  }
  .derUp{
    height: 50%;
    width: 100%;
    
  }
  .derDown{
    height: 50%;
    width: 100%;
   
  }