<ion-content>
  <app-nav-bar tituloPag= "Tab3 con reuitilizables">
     
  </app-nav-bar>
  <div class="all">
    <div class="nave">
      <div class="com">
          <ion-button [disabled]="false" expand="full" class="bt" >HOME</ion-button>
      </div>
      <div class="com">
          <ion-button [disabled]="false"  expand="full" class="bt">SEARCH</ion-button>
      </div>
      <div class="com">
          <ion-button [disabled]="false"  expand="full" class="bt">WALLET</ion-button>
      </div>
      <div class="com">
          <ion-button [disabled]="false"  expand="full" class="bt">PERFIL</ion-button>
      </div>
    </div>
  </div>
</ion-content>