.all{
    height: 100vh;
    width: 100%;
    
}
.nave{
    height: 8%;
    width: 100%;
    
    display: flex;
    
}
.com{
    height: 100%;
    width: 25%;
    
}
.bt{
    height: 90%;
    width: 100%;
}
.titulo{
    height: 7%;
    width: 100%;
}